*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: auto;
}
.owl-carousel .owl-theme{
    display: flex;
}
.item{
    text-align: center;
    overflow: hidden;
}
.item p{
}
.image{
   width: 100%; 
   display: flex;
}
.item .client{
    width: 11%;
    margin-left: 316px;
}
.item .text{

}
.item .text h4{
    padding: 5px 20px;
}
.item .text p{
    padding: 5px 20px;
}